/*@font-face {
    font-family: cmunrm;
    src: url('cmunrm.ttf');
}
*/

body {
    font-family: serif;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	background-color: white;
	padding: 0.5em 0;
	width: 100%;
	z-index: 100;
	border-bottom: 1px solid #888;
}

main {
    width: 95%;
    max-width: 34em;
    margin: 2em auto;
    overflow-x: hidden;
    min-height: 70vh;
}

nav {
    background-color: #EEE;
    display: inline-block;
    padding: 1em;
}

nav > ol {
    padding-left: 0;
}

footer {
	text-align: center;
}

footer > hr {
	display: block;
	width: 90%;
	max-width: 20em;
	margin: 2em auto;
}





/* http://www.2ality.com/2012/01/numbering-headingshtml.html */

body, h1 {
    counter-reset: h2counter h3counter;
}

h1 {
	text-align: center;
	margin-bottom: 2em;
}

h2:before {
    content: counter(h2counter) "\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}

h3:before {
    content: counter(h2counter) "." counter(h3counter) "\0000a0\0000a0";
    counter-increment: h3counter;
}

h1, h2, h3 {
    color: hsl(0, 0%, 25%);
}





/* http://stackoverflow.com/questions/1632005/ordered-list-html-lower-alpha-with-right-parentheses */

ol {
    counter-reset: list;
}

ol > li {
    list-style: none;
    margin: 0.5em 0;
}

ol > li:before {
    content: counter(list) ") ";
    counter-increment: list;
}

ol > ol > li {
	list-style: lower-alpha;
}

ol > ol > li:before {
    content: ""
}



pre {
    background-color: hsl(0, 0%, 90%);
    display: block;
    margin: 1em;
    padding: 0.5em;
    overflow-x: scroll;
}

.definition {
    background-color: hsl(0, 0%, 90%);
    padding: 1em;
}

.definition:before {
    content: "Definition";
    font-weight: bold;
    display: block;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

figcaption {
    text-align: center;
    margin: 1em auto;
    font-style: italic;
}

a {
    color: hsl(240, 100%, 50%);
}

a.incomplete {
    color: red;
}
